body {
    background-image: url(../img/gradient-background-01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1600px 825px;
}

@font-face {
    src: url('../Helvetica-LT-45-Light.ttf');
    font-family: 'sans-serif';
}

.rectangle {
    display: flex;
    position: relative;
    width: auto;
    height: 39px;
    background-color: transparent;
    margin-left: -10px;
    z-index: 3;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.rectangle-2 {
    display: flex;
    position: relative;
    width: auto;
    height: 2px;
    background-color:black;
    margin-left: -10px;
    z-index: 3;
    overflow: hidden;
    position: fixed;
    top: 40px;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 24px;
    margin-left: 15px;
    z-index: 4;
    overflow: hidden;
    position: fixed;
    top: 5px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.personal {
    z-index: 2;
}

.film-zine-link {
    font-size: 32px;
    display: flex;
    position: relative;
    left: 50px;
    z-index: 2;
}

.music-art-link {
    font-size: 32px;
    display: flex;
    position: relative;
    left: 50px;
    z-index: 2;
}

.other-art-link {
    font-size: 32px;
    display: flex;
    position: relative;
    left: 50px;
    z-index: 2;
}

.t-shirt-link {
    font-size: 32px;
    display: flex;
    position: relative;
    left: 50px;
    z-index: 2;
}


.professional-link {
    display: flex;
    position: relative;
    top: 50px;
}

.ethical-link {
    font-size: 32px;
    display: flex;
    position: relative;
    left: 50px;
    top: 50px;
}

.idot-link {
    font-size: 32px;
    display: flex;
    position: relative;
    left: 50px;
    top: 50px;
}

.superb-link {
    font-size: 32px;
    display: flex;
    position: relative;
    left: 50px;
    top: 50px;
}

.about-me {
    margin-left: 125px;
}

.linkedin-logo {
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    left: 300px;
}

.linkedin-logo img {
    height: auto;
    width: 100%;
}

.facebook-logo {
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    left: 320px;
}

.facebook-logo img {
    height: auto;
    width: 100%;
}

.instagram-logo {
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    left: 340px;
}

.instagram-logo img {
    height: auto;
    width: 100%;
}

.works {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 54px;
    margin-left: 15px;
    z-index: 2;
}

a:hover {
    color: #994141;
    cursor: pointer;
}

.blank-space {
    display: flex;
    position: absolute;
    left: 900px;
    top: 320px;
    font-size: 12px;
}

.footer-main {
    display: flex;
    position: absolute;
    left: 650px;
    bottom: 0px;
    font-size: 12px; 
}

.footer {
    display: flex;
    position: relative;
    left: 650px;
    font-size: 12px;
}











.sketch-of-me {
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    top: 125px;
    left: 550px;
    z-index: 2;
}

.sketch-of-me img {
    width: 100%;
    height: auto;
    z-index: 2;
}

@keyframes drop {
    0% {top: 140px}
    50% {top: 60px}
    100% {top: 140px}
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(259deg);
    }
}

.first-star {
    width: 85px;
    height: 85px;
    display: flex;
    position: absolute;
    left: 705px;
    animation: drop 2.5s infinite linear;
    z-index: 2;
}

.first-star img {
    width: 100%;
    height: auto;
}

.first-swirl {
    width: 85px;
    height: 85px;
    display: flex;
    position: absolute;
    top: 245px;
    left: 730px;
    animation: rotate 2s infinite linear
    z-index: 2;
}

.first-swirl img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.second-swirl {
    width: 85px;
    height: 85px;
    display: flex;
    position: absolute;
    top: 245px;
    left: 790px;
    animation: rotate 2s infinite linear
    z-index: 2;
}

.second-swirl img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.introduction {
    display: flex;
    position: relative;
    top: 130px;
    left: 20px;
    font-size: 32px;
    z-index: 2;
}

.information {
    display: flex;
    position: relative;
    width: 450px;
    top: 75px;
    left: 22px;
    font-size: 22px;
    line-height: 30px;
    z-index: 2;
}

.contact {
    display: flex;
    position: relative;
    left: 22px;
    top: 70px;
    font-size: 22px;
    z-index: 2;
}

.email {
    display: flex;
    position: relative;
    left: -17px;
    top: 30px;
    font-size: 18px;
    z-index: 2;
}

.linkedin {
    display: flex;
    position: relative;
    left: -17px;
    top: 15px;
    font-size: 18px;
    z-index: 2;
}










.personal-tag {
    display: flex;
    position: relative;
    top: 100px;
    left: 35px;
    font-size: 22px;
    z-index: 2;
}

.film-zine-link-2 {
    display: flex;
    position: relative;
    top: 105px;
    left: 35px;
    font-size: 22px;
    z-index: 2;
}

.on-film {
    display: flex;    
    position: absolute;
    width: 160px;
    height: 25px;
    background-color: brown;
    opacity: 50%;
    z-index: 2;
}

.music-art-link-2 {
    display: flex;
    position: relative;
    top: 105px;
    left: 35px;
    font-size: 22px;
    z-index: 2;
}

.other-art-link-2 {
    font-size: 22px;
    display: flex;
    position: relative;
    top: 105px;
    left: 35px;
    z-index: 2;
}

.on-other {
    display: flex;    
    position: absolute;
    width: 90px;
    height: 25px;
    background-color: brown;
    opacity: 50%;
}

.t-shirt-link-2 {
    font-size: 22px;
    display: flex;
    position: relative;
    top: 105px;
    left: 35px;
}

.on-t-shirt {
    display: flex;    
    position: absolute;
    width: 75px;
    height: 25px;
    background-color: brown;
    opacity: 50%;
}

.row-1 {
    display: flex;
    margin-top: 35px;
    margin-left: 250px;
    z-index: 2;
}

.column-1 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.column-1 img {
    width: 100%;
    height: auto;
}

.column-1:hover {
    opacity: 75%;
}

.row-2 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.column-2 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.column-2 img {
    width: 100%;
    height: auto;
}

.column-2:hover {
    opacity: 75%;
}

.row-3 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.column-3 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.column-3 img {
    width: 100%;
    height: auto;
}

.column-3:hover {
    opacity: 75%;
}

.row-4 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.column-4 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.column-4 img {
    width: 100%;
    height: auto;
}

.column-4:hover {
    opacity: 75%;
}


















.on-music {
    display: flex;    
    position: absolute;
    width: 91px;
    height: 25px;
    background-color: brown;
    opacity: 50%;
    z-index: 2;
}

.music-row-1 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-1 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-1 img {
    width: 100%;
    height: auto;
}

.music-column-1:hover {
    opacity: 75%;
}

.music-row-2 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-2 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-2 img {
    width: 100%;
    height: auto;
}

.music-column-2:hover {
    opacity: 75%;
}

.music-row-3 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-3 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-3 img {
    width: 100%;
    height: auto;
}

.music-column-3:hover {
    opacity: 75%;
}

.music-row-4 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-4 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-4 img {
    width: 100%;
    height: auto;
}

.music-column-4:hover {
    opacity: 75%;
}

.music-row-5 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-5 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-5 img {
    width: 100%;
    height: auto;
}

.music-column-5:hover {
    opacity: 75%;
}

.music-row-6 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-6 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-6 img {
    width: 100%;
    height: 100%;
}

.music-column-6:hover {
    opacity: 75%;
}

.music-row-7 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-7 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-7 img {
    width: 100%;
    height: 100%;
}

.music-column-7:hover {
    opacity: 75%;
}

.music-row-8 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.music-column-8 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.music-column-8 img {
    width: 100%;
    height: 100%;
}

.music-column-8:hover {
    opacity: 75%;
}

















.other-row-1 {
    display: flex;
    margin-left: 250px;
    z-index: 2;
}

.other-column-1 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.other-column-1 img {
    width: 100%;
    height: auto;
}

.other-column-1:hover {
    opacity: 75%;
}

.other-row-2 {
    display: flex;
    position: relative;
    margin-left: 250px;
    z-index: 2;
    
}

.other-column-2 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    z-index: 2;
}

.other-column-2 img {
    width: 100%;
    height: auto;
}

.other-column-2:hover {
    opacity: 75%;
}

.other-row-3 {
    display: flex;
    position: relative;
    margin-left: 250px;
    z-index: 2;
    top: 120px;
    margin-bottom: 10
    
    0px;
}

.other-column-3 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.other-column-3 img {
    width: 100%;
    height: auto;
}

.other-column-3:hover {
    opacity: 75%;
}














.please-note {
    display: flex;
    position: relative;
    left: 700px;
}

.t-shirt-row-1 {
    display: flex;
    position: relative;
    left: 280px;
}

.t-shirt-column-1 {
    padding: 10px;
    width: 550px;
    height: 550px;
    flex-shrink: 0;
}

.t-shirt-column-1 img {
    width: 100%;
    height: 100%;
}

.t-shirt-column-1:hover {
    opacity: 75%;
}

.t-shirt-row-2 {
    display: flex;
    position: relative;
    left: 280px;
}

.t-shirt-column-2 {
    padding: 10px;
    width: 550px;
    height: 550px;
    flex-shrink: 0;
}

.t-shirt-column-2 img {
    width: 100%;
    height: auto;
}

.t-shirt-column-2:hover {
    opacity: 75%;
}

.t-shirt-row-3 {
    display: flex;
    position: relative;
    left: 280px;
    top: -100px;
}

.t-shirt-column-3 {
    padding: 10px;
    width: 550px;
    height: 550px;
    flex-shrink: 0;
}

.t-shirt-column-3 img {
    width: 100%;
    height: auto;
}

.t-shirt-column-3:hover {
    opacity: 75%;
}









.ethical-link-2 {
    display: flex;
    position: relative;
    top: 105px;
    left: 35px;
    font-size: 22px;
}

.on-ethical {
    display: flex;    
    position: absolute;
    width: 82px;
    height: 25px;
    background-color: brown;
    opacity: 50%;
}

.ethical-text {
    display: flex;
    position: absolute;
    width: 1000px;
    font-size: 32px;
    left: 300px;
    top: 105px;
}

.ethical-row-1 {
    display: flex;
    position: relative;
    left: 280px;
    top: 100px;
}

.ethical-column-1 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.ethical-column-1 img {
    width: 100%;
    height: auto;
}

.ethical-column-1:hover {
    opacity: 75%;
}

.ethical-row-2 {
    display: flex;
    position: relative;
    left: 280px;
    top: 160px;
}

.ethical-column-2 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.ethical-column-2 img {
    width: 100%;
    height: auto;
}

.ethical-column-2:hover {
    opacity: 75%;
}

.ethical-row-3 {
    display: flex;
    position: relative;
    left: 280px;
    top: 420px;
}

.ethical-column-3 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.ethical-column-3 img {
    width: 100%;
    height: auto;
}

.ethical-column-3:hover {
    opacity: 75%;
}
















.idot-link-2 {
    display: flex;
    position: relative;
    top: 105px;
    left: 35px;
    font-size: 22px;
}

.on-idot {
    display: flex;    
    position: absolute;
    width: 52px;
    height: 25px;
    background-color: brown;
    opacity: 50%;
}

.idot-text {
    display: flex;
    position: absolute;
    width: 1000px;
    font-size: 32px;
    left: 300px;
    top: 105px;
}

.idot-row-1 {
    display: flex;
    position: relative;
    left: 280px;
    top: 150px;
}

.idot-column-1 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.idot-column-1 img {
    width: 100%;
    height: auto;
}

.idot-column-1:hover {
    opacity: 75%;
}

.idot-row-2 {
    display: flex;
    position: relative;
    left: 280px;
    top: 150px;
}

.idot-column-2 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.idot-column-2 img {
    width: 100%;
    height: auto;
}

.idot-column-2:hover {
    opacity: 75%;
}

#idot-critique img {
    display: flex;
    position: relative;
    margin-bottom: 50px;
}















.professional-tag {
    display: flex;
    position: relative;
    top: 100px;
    left: 35px;
    font-size: 22px;
}

.superb-link-2 {
    display: flex;
    position: relative;
    top: 105px;
    left: 35px;
    font-size: 22px;
}

.on-superb {
    display: flex;    
    position: absolute;
    width: 71px;
    height: 25px;
    background-color: brown;
    opacity: 50%;
}

.superb-text {
    display: flex;    
    position: absolute;
    left: 300px;
    top: 105px;
    font-size: 32px;
}

.superb-row-1 {
    display: flex;
    position: relative;
    left: 280px;
    top: 60px;
}

.superb-column-1 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.superb-column-1 img {
    width: 100%;
    height: auto;
}

.superb-column-1:hover {
    opacity: 75%;
}

.superb-row-2 {
    display: flex;
    position: relative;
    left: 1020px;
    top: 165px;
}

.superb-column-2 {
    padding: 10px;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.superb-column-2 img {
    width: 100%;
    height: auto;
}

.superb-column-2:hover {
    opacity: 75%;
}

.footer-2 {
    display: flex;
    position: relative;
    left: 650px;
    bottom: -420px;
    font-size: 12px;
}

